/* HEADER NORMAL */

.header-bg {
  position: fixed;
  width: 100%;
  z-index: 300;
  align-items: center;
  padding-top: 20px;
}

/* HEADER 1 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cor-00);
  width: 100%;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.header.azul {
  color: var(--cor-06);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header .link-header {
  display: flex;
  gap: 40px;
  font-weight: 500;
  transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
  transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 10;
}

.link-header a {
  border-radius: 20px;
  padding: 4px 12px;
  background-color: transparent;
  transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link-header a:hover {
  color: var(--cor-06);
  background-color: var(--cor-00);
}

/* HEADER 2 */

.header.ativo {
  color: var(--cor-06) !important;
}

.header.ativo .link-header a {
  background-color: transparent;
  transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header.ativo .link-header a:hover {
  color: var(--cor-00);
  background-color: var(--cor-05);
}

.header .link-header {
  gap: 20px;
}

/* MENU MOBILE */

.button-menu {
  display: none;
  position: relative;
  z-index: 20;
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: var(--cor-00);
}

.button-menu:active {
  transform: scale(1.2);
}

.menuMobile {
  position: absolute;
  padding: 18px;
  padding-top: 90px;
  padding-bottom: 32px;
  top: 0px;
  right: 0;
  left: 0;
  background-color: var(--cor-00);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--cor-06);
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.3s ease-in-out;
  font-weight: 500;
}

.link-mobile {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.link-mobile li {
  padding: 8px;
}

@media (max-width: 580px) {
  .header-bg {
    padding-top: 8px;
  }
  .header {
    padding: 0px 12px !important;
  }

  .header {
    & .link-header {
      display: flex;
      gap: 10px;
      display: none;
    }

    & .logo {
      margin-left: 12px;
    }

    & .button-menu {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      cursor: pointer;
    }
    & .button-menu svg {
      width: 30px;
      height: 30px;
      fill: currentColor !important;
    }
    & .button-menu.ativo {
      transform: rotate(50deg);
      color: var(--cor-06) !important;
    }

    & .menuMobile.ativo {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .header.ativo {
    padding: 8px !important;

    & .button-menu {
      background-color: var(--cor-00);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }
}
